body {
    background-color: #fbb9c5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.anchorTags {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Special Elite', cursive;
    width: 25%;
    color: blue;
}

#back {
    float: right;
}

#footer {
    width: 100%;
    background-color: white;
    bottom: 0;
    position: fixed;
    line-height: 2.5;
    font-size: 20px;
    font-family: 'Pacifico';
}